
/* Desktop device  */

  .homepage{
    display: flex;
    width: 100%;
    height: 100%;
  }

  .homepage>:nth-child(1){
    width: 40%;
    height: 100vh;
  }

  .homepage>:nth-child(1) h1{
    font-size: 90px;
    padding: 6vh 10vw 0;
  }

  .homepage>:nth-child(1) h2 {
    color: white;
    text-align: center;
    padding-bottom: 4vh;
  }
  
  .homepage img{
    width: 100%;
    height: 50%;
  }

  .homepage>:nth-child(2){
    width: 23%;
  }