/*font-family: 'Baloo Tammudu 2', cursive;
    font-family: 'Grandstander', cursive;
    font-family: 'Monda', sans-serif;
    font-family: 'Nunito Sans', sans-serif; 
    blue: rgba(41, 120, 160, 1)*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&family=Grandstander:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,600;1,700&family=Monda:wght@400;700&family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

:root{
  --blue: rgba(41, 120, 160, 1);
  --bluelight: rgba(41, 120, 160, .6)
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

/* Home page */

.homepage{
  display: flex;
  width: 100%;
  height: 100%;
}

.homeblue{
  background-color: var(--blue);
  width: 40%;
  height: 100vh;
}

.homeblue h1{
  font: 90px 'Baloo Tammudu 2', cursive;
  color: white;
  margin: 0;
  line-height: 1;
  padding: 6vh 10vw 0;
}

.homeblue h2 {
  color: white;
  text-align: center;
  padding-bottom: 4vh;
}

.homepage img{
  width: 100%;
  height: 50%;
}

button{
  width: 20vw;
  height: 20wh;
}

/* Layout navbar */

nav{
  display: flex;
  background-color: var(--blue);
  padding: 1vw;
  color: white;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
}

nav div:nth-child(1) img{
  width: 35px;
}

nav div:nth-child(1) p{
  margin: 0;
}

nav ul{
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;

}

nav ul li{
  list-style: none;
  margin: 0;
}

nav div:nth-child(2){
  width: 40%;
}

nav ul img{
  width: 40px;
  border-radius: 50%;
}

nav ul li ul{
  visibility: hidden;
  display: none;
  position: absolute;
  right: 1vh;
  padding: 3vh 1vw;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  display: block;
  background-color: var(--blue);
  border-radius: 2px;
}

/* User's home */

.userhome{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.userhome>div:nth-child(1){
  background-color: var(--bluelight);
  padding: 4vw;
  width: 15%;
  color: white;
  height: 100%;

}

.userhome>div:nth-child(1) li{
  list-style: none;
}

/* User's home book's cards */

.userhome>div:nth-child(2){
  padding: 4vw;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.bookcard{
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin: 1vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)
}

.bookcard img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-bottom: 10px var(--blue) solid;
}

.bookcard div:nth-child(2){
  padding: 8px;
  height: 30%;
}

.bookcard button{
  padding: 8px;
  width: 90%;
  position: absolute;
  bottom: 15px;
  border-radius: 15px;
  border: none;
  background-color: var(--blue);
  color: white;
}

.bookcard div:nth-child(3){
  padding: 8px;
  margin: auto;
  position: relative;
  height: 45px;
}
